.artist-card{
    width: 400px;
    height: 600px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.artist-card-avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.artist-card-bio{
    text-align: center;
    
}