@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Lexend", serif;
}

:root {
  --newwhite: #fafffd;
  --newblack: #252829;
  --black: #151515;
  --newgreen: #159678;
  --darkred: rgb(109, 52, 52);
}

body {
  background-color: var(--newwhite);
  color: var(--newblack);
}

.div-flex {
  display: flex;
  align-items: center;
}

.hero {
  height: 100vh;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-right{
  height: 70%;
  background: url(./assets/kid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 45% 55%; 
  border-radius: 10px;
}

/* .hero-right{
  content: '';
  background: url(./assets/kid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 45% 55%; 
  z-index: -1;
  position: absolute;
  bottom: 3px;
  right: 3px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
} */

.txtGrey{
  color: grey;
}

.txtBlack{
  color: var(--newblack)
}

.btn-green{
  background-color: var(--newgreen);
  color: var(--newwhite);
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 2px var(--newgreen);
  transition: 0.2s ease-in-out;
}

.btn-green:hover{
  background-color: var(--newwhite);
  color: var(--newgreen);
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 2px var(--newgreen);
}

.under-green{
  text-decoration: underline var(--newgreen);
}

